@charset "UTF-8";
* {
  box-sizing: border-box; }

figure, figcaption {
  margin: 0; }

p {
  margin: 0 0 .6em;
  line-height: 1.6; }

img {
  vertical-align: middle; }

body, html {
  margin: 0;
  height: 100%;
  font-family: Quicksand,'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }

body {
  background: url(../images/common/bg.png) center no-repeat fixed, linear-gradient(15deg, #facdce, #e4f2f6, #fdfae0) fixed;
  color: #333;
  line-height: 1.6; }

.btn a {
  background-color: #e71635;
  display: inline-block;
  color: white;
  line-height: 1;
  padding: 1em 2.4em;
  font-weight: bold;
  text-decoration: none; }
  .btn a:hover {
    background-color: #b8122a; }

.header_container {
  padding-top: 2em; }
  .header_container h1 {
    width: 400px;
    margin: 0 auto .5em;
    line-height: 1; }
  .header_container h2 {
    width: 400px;
    margin: auto;
    margin-bottom: .7em;
    line-height: 1; }
  .header_container .schedule {
    text-align: center;
    font-weight: bold; }
    .header_container .schedule p {
      margin: 0; }
    .header_container .schedule span {
      color: #e71635;
      margin-right: 1em; }
  .header_container a {
    display: block; }

#g_menu {
  z-index: 1;
  position: fixed;
  top: 40px;
  right: 20px; }
  #g_menu .menu_icon {
    top: 0;
    right: 40px;
    position: absolute;
    transition: .3s; }
    #g_menu .menu_icon .fa {
      font-size: 1.4em;
      width: 60px;
      height: 60px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      color: white;
      cursor: pointer; }
      #g_menu .menu_icon .fa:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
  #g_menu ul {
    margin: 0;
    transition: .3s; }
    #g_menu ul li {
      list-style-type: none;
      position: relative;
      transition: .3s;
      -webkit-transform: translateX(200px);
      -ms-transform: translateX(200px);
      transform: translateX(200px);
      opacity: 0; }
      #g_menu ul li a {
        transition: .2s;
        text-decoration: none;
        padding: 0 1em;
        color: #333;
        font-size: 1em;
        text-align: center;
        display: inline-block;
        font-weight: bold; }
        #g_menu ul li a span {
          display: inline-block;
          line-height: 1;
          color: #666; }
        #g_menu ul li a i {
          display: inline-block;
          text-align: center;
          line-height: 1; }
          #g_menu ul li a i img {
            vertical-align: middle;
            margin-right: .4em;
            width: 24px;
            height: 24px; }
        #g_menu ul li a:hover {
          -webkit-transform: translateX(-1em);
          -ms-transform: translateX(-1em);
          transform: translateX(-1em); }
          #g_menu ul li a:hover span {
            color: #e71635; }
      #g_menu ul li:nth-child(2) {
        transition-delay: .1s; }
      #g_menu ul li:nth-child(3) {
        transition-delay: .2s; }
      #g_menu ul li:nth-child(4) {
        transition-delay: .3s; }
      #g_menu ul li:nth-child(5) {
        transition-delay: .4s; }
  #g_menu.open_menu .menu_icon {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px); }
  #g_menu.open_menu li {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1; }

/* 
.hero_img {
	@include wrap;
	img {
		width: 600px;
	}
} */
main .hero_img {
  width: 50%; }
  main .hero_img img {
    width: 100%; }

main > section {
  padding: 2em 5em; }
  main > section::after {
    content: "";
    display: block;
    clear: both; }
  main > section figure {
    position: relative;
    top: -150px; }
  main > section:nth-child(odd) {
    background: url(../images/common/section_bg.svg) 0 0 no-repeat;
    background-size: cover; }
    main > section:nth-child(odd) figure {
      width: 20%;
      float: right; }
      main > section:nth-child(odd) figure img {
        width: 100%; }
    main > section:nth-child(odd) .content_inner {
      margin-right: 25%; }
  main > section:nth-child(even) figure {
    float: left;
    width: 20%; }
    main > section:nth-child(even) figure img {
      width: 100%; }
  main > section:nth-child(even) .content_inner {
    margin-left: 25%; }
  main > section:nth-child(3) {
    background: url(../images/common/section_bg_2.svg) 0 0 no-repeat;
    background-size: cover; }
  main > section h1 {
    font-size: 2.4em;
    margin-top: 0;
    text-align: center; }
    main > section h1 span {
      margin: 0 1em;
      font-size: .7em;
      color: #e71635; }

#concept .hero_img {
  width: 40%;
  top: 0; }

#concept .concept_box {
  width: 60%;
  float: right;
  padding: 0 2em 0 0; }

#concept p {
  margin: 0 0 .6em;
  line-height: 1.6;
  font-size: .9em;
  font-weight: bold; }

#overview dt {
  color: #e71635; }

#overview dd span {
  font-weight: bold;
  margin-right: 1em; }

#recommend a {
  text-decoration: none;
  color: #333;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

#recommend .speaker_photo {
  padding-right: 20px; }
  #recommend .speaker_photo img {
    width: 140px;
    border-radius: 4px; }

#recommend h3, #recommend p {
  margin: 0;
  line-height: 1.3;
  margin-bottom: .3em; }

#recommend p {
  font-size: .9em; }

#recommend .company {
  font-size: .8em; }

#recommend .name {
  font-size: 1em; }

#recommend .txt {
  margin-top: 1em; }

#contact h3 {
  margin: 0;
  line-height: 1.3;
  margin-bottom: .3em;
  font-size: 1.4em; }

#contact li {
  list-style-type: none;
  margin-bottom: 2em; }

#contact .txt {
  margin-left: 2em; }

#contact .btn {
  margin-left: 2em; }

#sponsor {
  background: none;
  /*rgba(255, 255, 255, .5)*/ }
  #sponsor ul {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start; }
    #sponsor ul::after {
      content: "";
      display: block;
      clear: both; }
  #sponsor li {
    display: inline-block;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px; }
    #sponsor li img {
      vertical-align: bottom; }
  #sponsor > section h1 {
    font-size: 120%;
    margin-bottom: 0; }
    #sponsor > section h1 span {
      color: gray; }
  #sponsor > section ul {
    margin-bottom: 1em; }

#sns {
  background: url(../images/common/section_bg_3.svg) 0 0 no-repeat;
  background-size: cover;
  color: white;
  padding: 2em 5em; }
  #sns #sns_container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #sns #sns_container h2 {
      margin-bottom: .6em;
      line-height: 1;
      font-size: .9em; }
      #sns #sns_container h2 span {
        display: inline-block; }
  #sns #sns_share {
    margin-bottom: 20px; }
    #sns #sns_share .sns_box::after {
      content: "";
      display: block;
      clear: both; }
    #sns #sns_share .sns_box > div {
      float: left;
      margin-right: 5px; }
  #sns .sns_left_wrap {
    margin-right: 1em; }

#sns_tweet {
  margin-left: 1em; }

#sns_fb_livebox {
  margin-bottom: .6em; }

#footer {
  padding: 2em 5em;
  text-align: center; }

@media screen and (max-width: 768px) {
  .header_container {
    padding: 2em 2em 0; }
    .header_container h1 {
      width: auto; }
      .header_container h1 img {
        width: 90%; }
    .header_container h2 {
      text-align: center;
      width: auto; }
      .header_container h2 img {
        width: 90%; }
    .header_container .schedule {
      text-align: left;
      font-size: .7em; }
  #g_menu {
    top: 1em;
    right: 1em; }
    #g_menu .menu_icon {
      top: .5em;
      right: .5em;
      -webkit-tap-highlight-color: transparent; }
      #g_menu .menu_icon.touched .fa {
        background-color: #f00;
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4); }
    #g_menu ul {
      margin-top: 80px; }
      #g_menu ul li {
        padding: .6em;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 4px;
        margin-bottom: .6em; }
    #g_menu.open_menu .menu_icon {
      -webkit-transform: rotate(360deg) translateX(0);
      -ms-transform: rotate(360deg) translateX(0);
      transform: rotate(360deg) translateX(0); }
  main > section {
    padding: 3em 1em 1em; }
    main > section:nth-child(odd) figure {
      float: none;
      top: 0; }
    main > section:nth-child(odd) .content_inner {
      margin: 0; }
    main > section:nth-child(even) figure {
      float: none;
      top: 0; }
    main > section:nth-child(even) .content_inner {
      margin: 0; }
    main > section h1 {
      font-size: 100%;
      text-align: left; }
  .content_inner dd {
    margin: 0;
    margin-bottom: .5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em; }
    .content_inner dd:last-child {
      border-bottom: none; }
  #sns {
    padding: 4em 1em;
    box-sizing: content-box; }
    #sns #sns_container {
      display: block; }
      #sns #sns_container iframe {
        width: 100%; }
    #sns #sns_fb_livebox {
      overflow: hidden; }
    #sns .sns_left_wrap {
      margin-right: 0; }
  #sns_tweet {
    margin-left: 0;
    margin-top: 20px; }
  #concept .hero_img {
    width: 100%;
    margin-bottom: .5em; }
  #concept .concept_box {
    width: 100%;
    padding: 0;
    float: none;
    padding-bottom: 1em; }
  #recommend a {
    display: block; }
  #recommend .speaker_photo {
    padding: 0;
    margin-bottom: .6em; }
  #contact h3 {
    font-size: 100%; }
  #contact .txt, #contact .btn {
    margin-left: 0; }
  .contact_box {
    padding-left: 0; }
  #sponsor > section h1 {
    margin-bottom: .5em; }
    #sponsor > section h1 span {
      display: block;
      line-height: 1; }
  #sponsor > section ul {
    display: block;
    text-align: center; }
  #sponsor > section.sponsor_other ul li:nth-child(odd), #sponsor > section.sponsor_silver ul li:nth-child(odd) {
    margin-left: 0; }
  #sponsor > section.sponsor_other ul li:nth-child(even), #sponsor > section.sponsor_silver ul li:nth-child(even) {
    margin-right: 0; }
  #sponsor .sponsor_container {
    padding: 1em;
    font-size: .7em;
    text-align: center; }
  #footer small {
    line-height: 1.4;
    font-size: x-small;
    display: inline-block; } }
