---
title: WebRTC Conference Japan 2016
---
{% assign sponsors = site.data.sponsors %}
<!DOCTYPE html>
<html lang="ja">
	<head prefix=”og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#”>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="WebRTC, Conference, カンファレンス, ビジネス">
		<meta name="description" content="今、世界中のWeb技術者から注目を集めている技術「WebRTC」をテーマとした、日本初のカンファレンスです。">

		<!-- FB -->
		<meta property="og:title" content="WebRTC Conference Japan">
		<meta property="og:description" content="今、世界中のWeb技術者から注目を集めている技術「WebRTC」をテーマとした、日本初のカンファレンスです。">
		<meta property="og:url" content="http://webrtcconference.jp/">
		<meta property="og:image" content="http://webrtcconference.jp/OGP_logo.png">
		<meta property="og:image:width" content="1200">
	    <meta property="og:image:height" content="630">

		<!-- Tw -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@WebRTC_Conf_jp">
		<meta name="twitter:title" content="WebRTC Conference Japan">
		<meta name="twitter:description" content="今、世界中のWeb技術者から注目を集めている技術「WebRTC」をテーマとした、日本初のカンファレンスです。">
		<meta name="twitter:image:src" content="http://webrtcconference.jp/OGP_logo.png">

		<title>WebRTC Conference Japan</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="shortcut icon" href="./favicon.ico" >
		<link rel="canonical" href="http://webrtcconference.jp/" />

	</head>
	<body class="global_top">
		<div class="page_wrapper">
			<header>
				<div class="header_container">
					<h1><a href="#"><img src="images/common/logo_sp.svg" alt="WebRTC Conference Japanのロゴマークです"></a></h1>
					<h2><img src="images/common/main.svg" alt="キャッチコピー「「知っている」の、その次へ。」のテキストです"></h2>
					<div class="schedule">
						<p class="date"><span>date</span>2016年 2月16日(火)・17日(水)</p>
						<p class="place"><span>place</span>ソラシティ カンファレンスセンター 2F</p>
					</div>
				</div>
			</header>
			<nav id="g_menu" class="">
				<p class="menu_icon"><i class="fa fa-bars"></i></p>
				<ul>
					<li class="home"><a href="/"><i><img src="images/common/nav/nav_home.png" alt="icon: home"></i><span>Home</span></a></li>
					<li class="session"><a href="/session/"><i><img src="images/common/nav/nav_session.png" alt="icon: session"></i><span>Session</span></a></li>
					<li class="sponsor"><a href="/sponsor/"><i><img src="images/common/nav/nav_sponsor.png" alt="icon: sponsor"></i><span>Sponsor</span></a></li>
					<li class="access"><a href="/access/index.html"><i><img src="images/common/nav/nav_access.png" alt="icon: access"></i><span>Access</span></a></li>
					<li class="tickets"><a href="http://webrtcconference2016.peatix.com/" target="_blank"><i><img src="images/common/nav/nav_tickets.png" alt="icon: tickets"></i><span>Tickets</span></a></li>
				</ul>
			</nav>

			<main>
				<section id="concept">
					<div class="bg_inner">
						<div class="title">
							<h1>コンセプト<span>concept</span></h1>
						</div>
						<div class="content_inner">
							<figure class="hero_img">
								<img src="images/index/img_main.png" alt="WebRTCでできるサービスがイラストで紹介されている図版です">
							</figure>
							<div class="concept_box">
								<p>2015年2月、WebRTCという革新的な技術を紹介するために、私たちは<a href="http://webrtcconference.jp/2015/">日本初のWebRTC Conferenceを開催</a>しました。</p>
								<p>2日間でのべ700名以上の方にご来場いただき、多くの方々にWebRTCを「知らせる」ことができたと自負しています。</p>
								<p>それから数ヶ月が過ぎ、WebRTCは映像・音声コミュニケーションといった分野だけでなく、
									IoTやロボティクスといった様々な領域へも広がりを見せています。<br>
									2回目のWebRTC Conferenceでは、こうした変化を更に後押ししていきたいと考えました。</p>
								<p class="copy">「知っている」の、その次へ。</p>
								<p> WebRTCを活用した、新たなイノベーションの創出を促す、そんな場を目指します。</p>
								<p>あなたも一緒に世界を変えてみませんか？</p>
								<p>WebRTC Conference Japan 実行委員会<br>委員長 小松 健作</p>
							</div>
						</div>
					</div>
				</section>
				<!-- Section : Overview -->
				<section id="overview">
					<div class="bg_inner">
						<div class="title">
							<h1>開催概要<span>overview</span></h1>
							<figure>
								<img src="images/index/title_img01.png">
							</figure>
						</div>
						<div class="content_inner">
							<dl>
								<dt>日時</dt>
								<dd>
									<span>1日目</span>2016年2月16日（火）10:00 ～ 18:30（展示 〜19:00）（受付開始 9:30） <br>
									<span>2日目</span>2016年2月17日（水）10:00 ～ 17:00（展示 〜18:00）（受付開始 9:30）
								</dd>

								<dt>会場</dt>
								<dd>
									ソラシティ カンファレンスセンター 2F（JR御茶ノ水駅徒歩１分・東京メトロ新御茶ノ水駅直結） <br>
									〒101-0062 東京都千代田区神田駿河台4-6 2F</dd>

								<dt>参加費</dt>
								<dd>
									<span>2日間チケット</span><br>
									<strike><span>Ultra-Early-Bird</span></strike> 販売を終了いたしました<br>
									<strike><span>Super-Early-Bird</span></strike> 販売を終了いたしました<br>
									<span>Early-Bird</span>15,120円（消費税込）、2016年1月5日までの期間限定<br>
									<span>Regular</span>21,600円（消費税込）<br>
									（WebRTC開発者向けに、チケットを入手できる企画を予定しております）
								</dd>
								<dt>ハッシュタグ</dt>
								<dd><a href="https://twitter.com/hashtag/WebRTCConfJP" target="_blank" class="fade">#WebRTCConfJP</a></dd>
								<dt>主催</dt>
								<dd>
									<ul class="sponsorship_list">
										<li class="committee unit">WebRTC Conference Japan実行委員会</li>
										<li class="unit"><span>委員長</span>小松 健作（NTTコミュニケーションズ株式会社）</li>
										<li><span>実行委員</span>インフォコム株式会社</li>
										<li>NTTアドバンステクノロジ株式会社</li>
										<li>NTTコミュニケーションズ株式会社</li>
										<li>ジェンバンド・ジャパン合同会社</li>
										<li>セールス・オンデマンド株式会社</li>
										<li>ダイアロジック・ジャパン・インク</li>
										<li>日本オラクル株式会社</li>
										<li>日本ヒューレット・パッカード株式会社</li>
										<li>株式会社ニューフォリア</li>
									</ul>
								</dd>
							</dl>
						</div>
					</div>
				</section>

				<!-- Section : What's new -->
				<section id="new">
					<div class="bg_inner">
						<div class="title">
							<h1>新着情報<span>what's new</span></h1>
							<figure>
								<img src="images/index/title_img03.png">
							</figure>
						</div>
						<!-- contact : item -->
						<div class="content_inner">
							<div class="box">
								<h2>セッション情報を更新！（2015/12/24）</h2>
								<p>WebRTCに関する最新技術動向やビジネス活用例の紹介など、魅力的なセッションが沢山あります。詳細は<a href="/session/">セッションページ</a>をご覧ください！</p>
							</div>
							<div class="box">
								<h2>スポンサーとメディアスポンサーを募集中です（2015/12/24）</h2>
								<p>スポンサー、メディアスポンサー（取材希望）を募集しています。ご興味がある方は「お問い合わせ」よりご連絡下さい。</p>
							</div>
							<div class="box">
								<h2>早期割引チケットの販売（2015/12/01）</h2>
								<p>2016年1月5日までの期間限定で、通常価格21,600円（消費税込）のところ15,200円（同）でお買い求めいただける早期割引チケットを販売しております。</p>
								<div class="btn"><a href="http://webrtcconference2016.peatix.com/" target="_blank">チケットのご購入はこちら</a></div>
							</div>
						</div>
					</div>
				</section>

				<!-- Section : Recommend -->
				<section id="recommend">
					<div class="bg_inner">
						<div class="title">
							<h1>おすすめセッション<span>Recommend</span></h1>
							<figure>
								<img src="images/index/title_img02.png">
							</figure>
						</div>
						<div class="content_inner">
							<section class="recommend_item">
								<a href="session/">
									<div class="speaker_photo"><img src="images/session/transparent_120x120.png" alt=""/></div>
									<div class="context">
										<h2>Status Update on WebRTC from Google</h2>
										<p class="company">Product Manager WebRTC at Google</p>
										<p class="name">Niklas Blum</p>
										<p class="txt">本セッションでは、GoogleのWebRTCステータスの最新情報を提供します。Chromeでの実装や、Android、iOSにおけるGoogleのWebRTC対応状況について、今後の展望も含めてお話します。
										</p>
									</div>
								</a>
							</section>
						</div>
					</div>
				</section>
				<!-- recommend-->

				<!-- Section : Contact -->
				<section id="contact">
					<div class="bg_inner">
						<div class="title">
							<h1>お問い合わせ<span>Contact</span></h1>
							<figure>
								<img src="images/index/title_img03.png">
							</figure>
						</div>
						<!-- contact : item -->
						<div class="content_inner">
							<ul class="contact_box">
								<li class="contact_item">
									<h3>取材をご検討の方</h3>
									<p class="txt">WebRTC Conference Japanの取材につきましては、下記のボタンからお問い合わせください。</p>
									<p class="btn"><a href="https://docs.google.com/forms/d/1gESj0jStPy36QGGbJbbTpvJboWm44FxB6DEKiVdPVgU/viewform" target="_blank">取材に関するお問い合わせ</a></p>
								</li>
								<!-- contact : item -->
								<li class="contact_item">
									<h3>協賛をご検討の方</h3>
									<p class="txt">WebRTC Conference Japanへの協賛のご希望やご質問につきましては、下記のボタンからお問い合わせください。</p>
									<p class="btn"><a href="https://docs.google.com/forms/d/1wgp8GMmI8Uoxrfafa-w7qN5bu7v9nIATCwwINhHKygo/viewform"  target="_blank">協賛に関するお問い合わせ</a></p>
								</li>
								<!-- contact : item -->
								<li class="contact_item">
									<h3>参加をご検討の方</h3>
									<p class="txt">参加のお申し込み（チケットのご購入）は、本サイト右上のメニュー内にございます「Tickets」にて承っております。また、WebRTC Conference Japanに関するご質問につきましては、下記のボタンからお問い合わせください。</p>
									<p class="btn"><a href="https://docs.google.com/forms/d/1wgp8GMmI8Uoxrfafa-w7qN5bu7v9nIATCwwINhHKygo/viewform"  target="_blank">その他のお問い合わせ</a></p>
								</li>
							</ul>
						</div>
					</div>
				</section>

				<!-- Section : Sponsor -->
				<section id="sponsor">
					<div class="bg_inner">
					<!-- Block : Platinum -->
						<div class="title">
							<h1>スポンサー<span>Sponsors</span></h1>
						</div>
{% if site.data.sponsors.platinum.size > 0 %}
						<section class="sponsor_platinum">
							<h1>プラチナスポンサー<span>Platinum Sponsor</span></h1>
							<ul class="cfx">
	{% for sponsor in site.data.sponsors.platinum %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ sponsor.logo }}" width="200" height="200" alt="{{ sponsor.name }}"/></a></li>
	{% endfor %}
							</ul>
						</section>
{% endif %}
{% if site.data.sponsors.gold.size > 0 %}
						<section class="sponsor_gold">
							<h1>ゴールドスポンサー<span>Gold Sponsor</span></h1>
							<ul>
	{% for sponsor in site.data.sponsors.gold %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ sponsor.logo }}" width="150" height="150" alt="{{ sponsor.name }}"/></a></li>
	{% endfor %}
							</ul>
						</section>
{% endif %}
{% if site.data.sponsors.silver.size > 0 %}
						<section class="sponsor_silver">
							<h1>シルバースポンサー<span>Silver Sponsor</span></h1>
							<ul>
	{% for sponsor in site.data.sponsors.silver %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ sponsor.logo }}" width="100" height="100" alt="{{ sponsor.name }}"/></a></li>
	{% endfor %}
							</ul>
						</section>
{% endif %}
{% if site.data.sponsors.support.size > 0 %}
						<section class="sponsor_other">
							<h1>協力／後援<span>Cooperation / Support</span></h1>
							<ul class="cfx">
	{% for sponsor in site.data.sponsors.support %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ sponsor.logo }}" width="100" height="100" alt="{{ sponsor.name }}"/></a></li>
	{% endfor %}
							</ul>
						</section>
{% endif %}
{% if site.data.sponsors.media.size > 0 %}
						<section class="sponsor_other">
							<h1>メディアスポンサー<span>Media Sponsor</span></h1>
							<ul class="cfx">
	{% for sponsor in site.data.sponsors.media %}
								<li><a href="{{ sponsor.link }}" target="_blank"><img src="{{ sponsor.logo }}" width="100" height="100" alt="{{ sponsor.name }}"/></a></li>
	{% endfor %}
							</ul>
						</section>
{% endif %}
						<p class="txt sponsor_container">※スポンサーロゴの掲載順は５０音順です。</p>
					</div>
				</section><!-- /#sponsor_platinum -->
				<!-- Section : Social Network -->
				<div id="sns">
					<div class="bg_inner">

						<div class="sns_left_wrap">

							<!-- Block : Share -->
							<div id="sns_share">
								<h2><span class="f_ossb">Share</span></h2>
								<div class="sns_box cfx">
									<div id="sns_tw_tweet">
										<a href="https://twitter.com/share" class="twitter-share-button twitter-count-vertical" data-url="http://webrtcconference.jp/" data-text="WebRTC Conference Japan" data-lang="ja" data-count="vertical" data-hashtags="WebRTCConfJP" data-related="WebRTC_Conf_jp">Tweet</a>
									</div>
									<div id="sns_hatena">
										<a href="http://b.hatena.ne.jp/entry/http://webrtcconference.jp" class="hatena-bookmark-button" data-hatena-bookmark-title="WebRTC Conference Japan" data-hatena-bookmark-layout="vertical-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
									</div>
									<div id="sns_fb_like">
										<div class="fb-like" data-href="http://webrtcconference.jp" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
									</div>
								</div>
							</div><!-- /#sns_share -->

							<!-- Block : Follow -->
							<div id="sns_follow">
								<h2><span class="f_ossb">Follow</span></h2>
								<div class="sns_box">
									<div id="sns_fb_livebox">
										<div class="fb-like-box" data-href="https://www.facebook.com/webRTCConfJapan"  data-height="298" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
									</div>
									<div id="sns_tw_follow">
										<p class="txt">WebRTC Conference Japan<br>公式Twitterアカウントをフォロー</p>
										<p class="btn"><a href="https://twitter.com/WebRTC_Conf_jp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @WebRTCConfJP</a></p>
									</div>
								</div>
							</div><!-- /#sns_follow -->
						</div>

						<!-- Block : Twitter -->
						<div id="sns_tweet">
							<h2><span class="f_ossb">WebRTC Conference Japan</span>に関する<span class="f_ossb">tweet</span></h2>
							<div class="sns_box">
								<a class="twitter-timeline" href="https://twitter.com/hashtag/WebRTCConfJP" data-widget-id="542976841485529088" height="530">#WebRTCConfJP のツイート</a>
							</div>
						</div><!-- /#sns_tweet -->
					</div>
				</div><!-- /#social -->
			</main>



			<!-- Lyr : Footer -->
			<footer id="footer">
				<div class="webrtc2015ver"><a href="http://webrtcconference.jp/2015/"><i class="fa fa-arrow-circle-o-left"></i>前回開催（2015/2/5〜2015/2/6）のサイトはこちら</a></div>
				<small>Copyright &copy; 2015 WebRTC Conference Japan 実行委員会</small>
			</footer><!-- /#footer -->
		</div>
		<!-- JavaScript : common -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>

		<!-- JavaScript : Facebook -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=168596879871684&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<!-- JavaScript : Twitter -->
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

		<!-- JavaScript : Hatena -->
		<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

		<!-- Google Analytics -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-56891675-2', 'auto');
		ga('send', 'pageview');
		</script>

	</body>

</html>
