				<section id="xxxx">
					<div class="bg_inner">
						<div class="title">
							<h1>★★★★★★★★★何か追加コンテンツ★★★★★★★★★<span>added content</span></h1>
							<figure>
								<img src="images/index/title_img03.png">
							</figure>
						</div>
						<!-- contact : item -->
						<div class="content_inner">
							<div class="box">
								<h2>見出し2、新しい追加コンテンツが入ります</h2>
								<p>p要素でマークアップ、Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis consequuntur sit tempore cum quo necessitatibus odit laborum eaque adipisci natus optio facere nemo amet, fuga tenetur ad possimus quam.</p>
								<p>p要素でマークアップ、Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic omnis consequuntur sit tempore cum quo necessitatibus odit laborum eaque adipisci natus optio facere nemo amet, fuga tenetur ad possimus quam.</p>
								<div class="btn"><a href="#">div.btn &gt; a と書くとボタン</a></div>
								<div class="btn"><a href="#"><i class="fa fa-check-circle"></i>font-awasomeアイコン</a></div>
							</div>
							<div class="box">
								<h3>見出し3、新着情報</h3>
								<ul>
									<li>箇条書きリスト</li>
									<li><a href="#">箇条書きリスト</a></li>
								</ul>
								<ol>
									<li>番号リスト</li>
									<li>番号リスト</li>
									<li>番号リスト</li>
								</ol>
								<dl>
									<dt>定義型リストdt</dt>
									<dd>定義型リストdd</dd>
								</dl>
							</div>

						</div>
					</div>
				</section>
