				<!-- Section : Recommend -->
				<section id="recommend">
					<div class="bg_inner">
						<div class="title">
							<h1>おすすめセッション<span>Recommend</span></h1>
							<figure>
								<img src="images/index/title_img02.png">
							</figure>
						</div>
						<div class="content_inner">
							<section class="recommend_item">
								<a href="session/">
									<div class="speaker_photo"><img src="images/index/dougtait_face.jpg" alt=""/></div>
									<div class="context">
										<h2>T.B.D.</h2>
										<p class="company">Director of Product Marketing, Oracle Communications</p>
										<p class="name">Douglas Tait</p>
										<p class="txt">今話題の技術であるWebRTCは、Webサービスに豊富な双方向通信機能を追加する新たなインタフェースをもたらします。WebRTCが数多の企業や通信会社によって提供されるにあたっては、相互接続性や信頼性、セキュリティ等に関する課題の解決が不可欠です。本セッションではこれらの課題を踏まえつつ、WebRTCの全体像と実際のビジネスについて言及します。
										</p>
									</div>
								</a>
							</section>
							<section class="recommend_item">
								<a href="session/">
									<div class="speaker_photo"><img src="images/index/dougtait_face.jpg" alt=""/></div>
									<div class="context">
										<h2>Real Time Communications (RTC) on the Web – use cases and deployments</h2>
										<p class="company">Director of Product Marketing, Oracle Communications</p>
										<p class="name">Douglas Tait</p>
										<p class="txt">今話題の技術であるWebRTCは、Webサービスに豊富な双方向通信機能を追加する新たなインタフェースをもたらします。WebRTCが数多の企業や通信会社によって提供されるにあたっては、相互接続性や信頼性、セキュリティ等に関する課題の解決が不可欠です。本セッションではこれらの課題を踏まえつつ、WebRTCの全体像と実際のビジネスについて言及します。
										</p>
									</div>
								</a>
							</section>
						</div>
					</div>
				</section>
				<!-- recommend-->
