@charset "utf-8";

/* --------------------------------------------------
 * 
 * WebRTC Conference Japan
 * CSS for Session
 * 
 * --------------------------------------------------
 */


/* --------------------------------------------------
 * Map
 * --------------------------------------------------
 */

#map {
	
}
	#map_container {
		width:940px;
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 60px;
		border-bottom: 1px solid #c1c6c9;
	}
		/* gmap */
		#gmap {
			height: 460px;
			background: #fafafa;
		}
		#map_btn {
			display: block;
			margin-top: 20px;
		}
			#map_btn a {
				display: block;
				width: 310px;
				height: 50px;
				margin: 0 auto;
				background: url(../img/btn_gmap.png) no-repeat;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
			}
		/* info */
		#map_info {
			margin-top: 60px;
		}
			#map_info dt {
				font-size: 129%;
				font-weight: bold;
				line-height: 1.1;
			}
			#map_info dd {
				margin-top: 8px;
				font-size: 93%;
				line-height: 1.69;
			}
		#map_link {
			margin-top: 10px;
		}
			#map_link a {
				padding: 2px 0 2px 27px;
				background: url(../../common/img/body/icon_arrow.png) no-repeat left;
				font-size: 100%;
				color: #f91636;
				text-decoration: none;
			}



/* --------------------------------------------------
 * Access
 * --------------------------------------------------
 */

#access {
	
}
	#access_container {
		width:940px;
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 60px;
		border-bottom: 1px solid #c1c6c9;
	}
		#access .section_label {
			font-size: 129%;
			color: #a6acae;
		}
		#access h3 {
			margin-top: 1px;
			font-size: 158%;
		}
		/* box */
		#access_box {
			margin-top: 16px;
		}
			#access_box ul {
				
			}
				#access_box li {
					font-size: 100%;
					line-height: 1.84;
				}











